<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-02-28T19:27:58Z</date>
	<key>WorkspacePath</key>
	<string>/Users/lukas/Library/Mobile Documents/com~apple~CloudDocs/Developement/WorkoutDiary/LOGIT..xcodeproj</string>
</dict>
</plist>
